[submodule "swagger-mbeam"]
	path = swagger-mbeam
	url = https://bitbucket.org/mimiktech/swagger-mbeam.git
[submodule "swagger-mw-codegen"]
	path = swagger-mw-codegen
	url = https://bitbucket.org/mimiktech/swagger-mw-codegen.git
